.book__content {

    display: flex;

    &-left {
        flex: 0 0 50%;
        padding: 4rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-icon {
            height: 4rem;
            width: 4rem;
        }

        &-icon-1 {
            height: 3rem;
            width: 3.5rem;
            transform: scaleX(-1);
            transition: all 0.3s;

            &:hover {
                transform: scaleX(-1) scale(1.2);
            }
        }
    }

    &-right {

        flex: 0 0 50%;
        padding: 4rem;

        background-image: linear-gradient(to right bottom,
                $color-header-primary-2,
                $color-header-secondary-2);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-icon {
            height: 4rem;
            width: 4rem;
        }

        &-icon-1 {
            height: 3rem;
            width: 3.5rem;

            transition: all 0.3s;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    @include respond(tab-port) {
        flex-direction: column;

        &-left {

            height: 25rem;
        }

        &-right {

            height: 25rem;

        }
    }
}