//Main Header Color Variants
$color-header-primary-1: #00cdac;
$color-header-secondary-1: #02aab0;

$color-header-primary-2: #4568dc;
$color-header-secondary-2: #b06ab3;

$color-header-primary-3: #ff512f;
$color-header-secondary-3: #dd2476;

$color-header-primary-4: #43cea2;
$color-header-secondary-4: #185a9d;


//Colors
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//Copy Text
$color-copy-scroll: #c28ec4;
// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

$gutter-vertical-small: 6rem;
// FONT
$default-font-size: 1.6rem;