.navbar {
  position: fixed;
  background-color: transparent;
  width: 100%;
  padding: 3rem 0;
  top: 0;
  z-index: 999;
  transition: all 0.3s linear;

  &__inner {
    //max-width: 1300px;
    margin: auto;
    padding: 0 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--menu-toggler {
      background: none;
      width: 3rem;
      border: none;
      cursor: pointer;
      position: relative;
      outline: none;
      z-index: 999;
      display: none;

      @include respond(phone) {
        display: block;

        &.active {
          span:nth-child(1) {
            transform: rotate(-45deg);
            top: 0.4rem;
          }

          span:nth-child(2) {
            opacity: 0;
          }

          span:nth-child(3) {
            transform: rotate(45deg);
            bottom: 1.4rem;
          }
        }
      }

      span {
        display: block;
        height: 0.3rem;
        background-color: $color-white;
        margin: 0.6rem 0;
        position: relative;
        transition: all 0.3s linear;
      }
    }

    &--menu {
      @include respond(phone) {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-image: linear-gradient(to right bottom,
            rgba($color-header-primary-2, 0.6),
            rgba($color-header-secondary-2, 0.6));
        top: 0;
        right: -100%;
        max-width: 40rem;
        padding: 8.8rem 5rem;
        backface-visibility: hidden;
        transition: all 0.3s linear;

        &.active {
          right: 0;
        }
      }

      &--link {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: 300;
        margin-left: 1.5rem;
        padding: 0.8rem 1rem;
        text-decoration: none;
        position: relative;
        overflow: hidden;
        display: inline-block;
        backface-visibility: hidden;
        transition: 1s all ease;

        @include respond(phone) {
          display: block;
          font-size: 3rem;
          margin: 3rem 0;
        }
      }

      &--link::before {
        background-image: linear-gradient(to right bottom,
            rgba($color-header-primary-2, 0.6),
            rgba($color-header-secondary-2, 0.6));
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        backface-visibility: hidden;
        transform: translate(-50%, -50%);
        z-index: -1;
        transition: all 0.6s ease;
      }

      &--link::before {
        width: 150%;
        height: 0%;
        backface-visibility: hidden;
        transform: translate(-50%, -50%) rotate(-45deg);
      }

      &--link:hover::before {
        height: 380%;
      }

      &--link:hover {
        margin-left: 2rem;
        color: $color-black;
      }
    }

    &__logo-box {
      position: relative;
      top: 0;
      left: 0;
    }

    &__logo {
      // height: 3rem;
      // width: 2.6rem;
      height: 3.5rem;
      width: 3.5rem;
      //background-image: url(../img/logo_small.png);
      background-size: contain;
    }
  }
}

.sticky {
  background-color: rgba($color-white, 0.95);
  backface-visibility: hidden;
  box-shadow: 0rem 0.5rem 4rem rgba($color-black, 0.3);
  padding: 1rem 0;

  .navbar__inner__logo {
    filter: invert(100%);
  }

  .navbar__inner--menu--link {
    color: $color-header-primary-2;
  }

  .navbar__inner--menu--link:hover {
    color: $color-black;
  }

  .navbar__inner--menu-toggler span {
    background-color: $color-black;
  }

  @include respond(phone) {
    .navbar__inner--menu {
      background-color: $color-grey-light-1;
    }
  }
}