.social-button--side {
    color: $color-white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    text-decoration: none;
}

.social {
    position: fixed;
    width: 15rem;
    top: 75vh;

    @include respond(tab-port) {
        opacity: 0;
        visibility: hidden;
    }
}

.social ul {
    padding: 0px;
    -webkit-transform: translate(-27rem, 0);
    -moz-transform: translate(-27rem, 0);
    -ms-transform: translate(-27rem, 0);
    -o-transform: translate(-27rem, 0);
    transform: translate(-27rem, 0);
}

.social ul li {
    display: block;
    margin: 0.5rem;
    //background: rgba($color-header-primary-2, 0.36);
    background-image: linear-gradient(to right bottom, rgba($color-header-primary-2, 0.36), rgba($color-header-secondary-2, 0.36));
    width: 30rem;
    text-align: right;
    padding: 1rem;
    -webkit-border-radius: 0 3rem 3rem 0;
    -moz-border-radius: 0 3rem 3rem 0;
    border-radius: 0 3rem 3rem 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li:hover {
    -webkit-transform: translate(11rem, 0);
    -moz-transform: translate(11rem, 0);
    -ms-transform: translate(11rem, 0);
    -o-transform: translate(11rem, 0);
    transform: translate(11rem, 0);
    background: rgba(255, 255, 255, 0.4);
}

.social ul li:hover a {
    color: #000;
}

.social ul li:hover i {
    color: $color-white;
    background: rgba(0, 0, 0, 1);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.social ul li i {
    margin-left: 4rem;
    color: $color-black;
    background: $color-white;
    padding: 0.5rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    background: $color-white;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}